/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 2;
    text-align: center;
    color: white;
}

header .logo img {
    max-width: 150px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Foto horizontal */
.photo {
    width: 100%;
    height: 400px; /* Ajusta la altura de la foto según lo necesites */
    background-image: url('ERF07459.jpg');
    background-size: cover;
    background-position: center;
}

/* Biografía */
.biography {
    padding: 20px;
    background-color: #f4f4f4;
}

/* Música y Eventos */
.music, .events {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer .social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

footer .social a:hover {
    color: #8B0000;
}
