/* Estilos del header */
header {
    position: relative;
    background-color: #121212; /* Fondo oscuro */
    height: 150px; /* Ajusta la altura del header */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .logo img {
    max-width: 200px; /* Ajusta el tamaño del logo */
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Foto horizontal después del header */
#photo {
