/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    overflow-x: hidden; /* Evita el desplazamiento horizontal innecesario */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed; /* Fijar el header en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-image: url('ERF07459.jpg'); /* Agrega la ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el espacio */
    background-position: center; /* Centra la imagen en el header */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Para asegurar que el contenido del header (logo y menú) no cambie de posición */
header .logo img {
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    color: #8B0000;
}

/* Sección de biografía */
.biography {
    background-color: #8B0000;
    padding: 50px 20px;
    text-align: center;
    margin-top: 100px; /* Da espacio suficiente para el header fijo */
}

.biography h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.biography p {
    font-size: 18px;
    line-height: 1.6;
}

/* Música */
.music {
    padding: 50px 20px;
    background-color: #121212;
    text-align: center;
}

.music h2 {
    font-size: 36px;
    color: #8B0000;
}

.music ul {
    list-style-type: none;
    padding: 0;
}

.music ul li {
    font-size: 18px;
    margin: 10px 0;
}

.music ul li a {
    color: white;
    text-decoration: none;
}

.music ul li a:hover {
    color: #8B0000;
}

/* Eventos */
.events {
    padding: 50px 20px;
    background-color: #121212;
    text-align: center;
}

.events h2 {
    font-size: 36px;
    color: #8B0000;
}

.events ul {
    list-style-type: none;
    padding: 0;
}

.events ul li {
    font-size: 18px;
    margin: 10px 0;
}

/* Footer */
footer {
    background-color: #121212;
    padding: 20px;
    text-align: center;
    color: white;
}

footer .social {
    margin-top: 10px;
}

footer .social a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer .social a:hover {
    color: #8B0000;
}

/* Media queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .logo img {
        height: 50px;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .biography, .music, .events {
        padding: 30px 10px;
    }

    footer {
        font-size: 14px;
    }
}
